<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <form>
            <input name="id_1" placeholder="bits-id" required id="id_1" type="text">
            <input name="username" placeholder="username" required id="username" type="text">
            <input name="password" placeholder="password" required id="password" type="password">
            <div id="submit" class="form-group submit-button">
                <input type="submit" value="Register" class="btn float-right submit_btn">
            </div>
        </form>
        <script src="js/register.js"></script>
    </body>
</html>